<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/TMGPrototype2.css">
   
</head>
<body class="page1">
    <header>
        <div class="menu_block">
            <div class="container_12">
                <div class="grid_12">
                    <form id="search" action="#" method="GET">
                        <input type="text" name="s">
                        <a onClick="document.getElementById('search').submit()"></a>
                        <div class="clear"></div>
                    </form>
                    <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
                    <nav>
                        <ul class="sf-menu">
                            <li class="current"><a href="@Url.Action("Index","Home")">Home</a></li>
                            <li><a href="@Url.Action("About","Home")">Our Story</a></li>
                            <li><a href="food-and-wine.html">Food &amp; Wine</a></li>
                            <li><a href="wine-clubs.html">Wine Clubs</a></li>
                            <li><a href="events.html">Events</a></li>
                            <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>

    @RenderBody()
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-migrate-1.1.1.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/TMGPrototype2.js"></script>
    <script src="~/Scripts/jquery.equalheights.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script>
        $(window).load(function () {
            $('#TMGPrototype2').TMGPrototype2({});
        });
    </script>
</body>
</html>
